<!-- time_tracker/templates/time_tracker/index.html -->

{% extends 'base.html' %}
{% block title %} Time Tracker - {{title}} {% endblock %}

{% comment %} https://github.com/zurb/tribute tribute.js for mentioning task, project, todo {% endcomment %}
{% block extra-js %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script> 
    <script type="text/javascript"> 
        {% comment %} PROJECT {% endcomment %}
        function create_project(){
            var project_name = $("#project-name").val();

            if(project_name == ""){
                alert("Please enter a project name");
                return;
            }

            var data = {
                "project_name": project_name,
            }

            const success_callback  = function(response){
                $("#project-name").val("");
                console.log(response);
                location.reload();
            }

            const error_callback = function(response){
                alert("Error creating project");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:create_project' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);

        }
        

        function delete_project(element) {
            var project_id = $(element).attr("project_id");

            var data = {
                'project_id': project_id,
            }

            const success_callback  = function(response){
                console.log(`Deleting Project ${project_id}`);
                location.reload();
            }

            const error_callback = function(response){
                alert("Error Deleting project");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:delete_project' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function open_project(element) {

            if (element == null){
                var project_id = $("#project-detail-modal").attr('project_id');
                if (project_id == '' || project_id == null){
                    console.log("No project id")
                    return;
                }
            } else {
                var project_id = $(element).attr('project_id');
            }
            
            var data = {
                'project_id': project_id,
            }

            const success_callback = function(response){
                $("#project-detail-modal").html(response);
                $("#project-detail-modal").attr('project_id', project_id);
            
                $("#task-detail-modal").hide();
                set_activated_project(project_id);
            
                load_timeline(project_id);
                load_todo(project_id);

            }

            const error_callback = function(response){
                alert("Error opening project");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:project_detail' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function set_project_status(project_id, project_status_id){

            var data = {
                'project_id': project_id,
                'project_status_id': project_status_id,
            }

            const success_callback = function(response){
                console.log(`Setting project ${project_id} to status ${project_status_id}`);
            }

            const error_callback = function(response){
                alert("Error setting project status");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:set_project_status' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        {% comment %} TASK {% endcomment %}
        function create_task() {
            var task_name = $("#task-name").val();
            var project_id = $('#project-detail-modal').attr('project_id');

            if(task_name == ""){
                alert("Please enter a task name");
                return;
            }

            data = {
                'task_name': task_name,
                'project_id': project_id,
            }


            const success_callback = function(response){
                $("#task-name").val("");
                open_project(null);
            }

            const error_callback = function(response){
                alert("Error creating task");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:create_task' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        function delete_task(element) {
            var task_id = $(element).attr('task_id');

            var data = {
                'task_id': task_id,
            }

            const success_callback = function(response){
                console.log(`Deleting Task ${task_id}`);
                open_project(null);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:delete_task' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }
        
        function open_task(task_id) {

            var data = {
                'task_id': task_id,
            }

            const success_callback = function(response){
                $("#task-detail-modal").html(response);
                $("#task-detail-modal").attr('task_id', task_id);
                $("#task-detail-modal").show();
            
            }

            const error_callback = function(response){
                alert("Error opening task");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:task_detail' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }



        function start_task(element) {
            var task_id = $(element).attr('task_id');
            var user_id = $('.current_user').attr('user_id');
        

            if(task_id == ""){
                alert("no valid task id");
                return;

            }

            var data = {
                'task_id': task_id,
                'user_id': user_id,
            }

            const success_callback = function(response){
                console.log(`Starting task ${task_id}`);
                load_active_tasks();
                {% comment %} #GOHERE + TODO: make active task its ownsection {% endcomment %}
            }

            const error_callback = function(response){
                alert("Error starting task");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:create_active_task' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function edit_start_time(element){
            var task_id = $(element).attr('active_task_id');


            current_start_time = $(`.start-time-display[active_task_id="${task_id}"]`).html().trim();
            
            $(`.start-time-display[active_task_id="${task_id}"]`).html(`<input type="text" class='active-start-time-edit' active_task_id="${task_id}" value="${current_start_time}">`);
            
            $(`.edit-start-time-button[active_task_id="${task_id}"]`).hide();
            $(`.send-edit-start-time-button[active_task_id="${task_id}"]`).show();



        }

        function show_task_timer_note(element){
            var active_task_id = $(element).attr('active_task_id');
            var user_id = $('.current_user').attr('user_id');

            data = {
                'active_task_id': active_task_id,
                'user_id': user_id
            }

            const success_callback  = function(response){
                $('#blur-background').css('display', 'flex');
                $('.focused-element').html(response);
            }

            const error_callback = function(response){
                console.error("Unable to view active task note");
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:view_active_task_note' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);

        }

        function stop_task(element) {
            var active_task_id = $(element).attr('active_task_id');
            var user_id = $('.current_user').attr('user_id');

            if(active_task_id== ""){
                alert("no valid task id");
                return;
            }

            var data = {
                'active_task_id': active_task_id,
                'user_id': user_id,
            }

            const success_callback = function(response){
                console.log(`Stopping task ${active_task_id}`);
                load_active_tasks();
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:stop_active_task' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }



        function set_task_status(task_id, task_status_id){
            var data = {
                'task_id': task_id,
                'task_status_id': task_status_id,
            }

            const success_callback = function(response){
                console.log(`Setting task ${task_id} to status ${task_status_id}`);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:set_task_status' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        {% comment %} TIMER {% endcomment %}

        function delete_timer(element) {
            var task_timer_id = $(element).attr('task_timer_id');

            var task_id = $('#task-detail-modal').attr('task_id');
        
            if(task_timer_id== ""){
                alert("no valid task id");
                return;
            }

            var data = {
                'task_timer_id': task_timer_id,
            }

            const success_callback = function(response){
                console.log(`Deleting timer ${task_timer_id}`);
                open_task(task_id);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:delete_task_timer' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function send_edit_timer(element){
        
            var ttid = $(element).attr('task_timer_id');
        
            var task_id = $('#task-detail-modal').attr('task_id');
            var start_time_value = $(`.start_time_edit[task_timer_id="${ttid}"]`).val().trim();
            var end_time_value = $(`.end_time_edit[task_timer_id="${ttid}"]`).val().trim();

            var data = {
                'task_timer_id': ttid,
                'start_time_value': start_time_value,
                'end_time_value': end_time_value,
            }

            const success_callback = function(response){
                console.log(`Editing timer ${ttid}`);
                open_task(task_id);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:edit_task_timer' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        function send_edit_start_time(element){
            var active_task_id = $(element).attr('active_task_id');

            var start_time_value = $(`.active-start-time-edit[active_task_id="${active_task_id}"]`).val().trim();

            data = {
                'active_task_id': active_task_id,
                'start_time': start_time_value,
            }

            const success_callback = function(response){
                load_active_tasks();
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:change_start_time' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        {% comment %} NOTE {% endcomment %}

        {% comment %} A function to create new note {% endcomment %}
        function create_note(){
            var user_id = $('.current_user').attr('user_id');
            var project_id = $('#sticky-note-modal').attr('project_id');
        
            var note_name = $('#new-note-name').val().trim();
            var content = $('#new-note-content').find('.ql-editor').html()
        
            if(note_name == '' && content==''){
                alert('please fill all fields');
                return;
            }

            var data = {
                'project_id': project_id,
                'name': note_name,
                'content': content,
                'user_id': user_id
            }

            const success_callback = function(response){
                console.log('success');
                load_notes(null);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'sticky_note:create_note' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        
        }


        function delete_note(element){
            
            var note_id= $(element).attr('note_id');

            var data = {
                'note_id': note_id,
            }

            const success_callback = function(response){
                console.log('success');
                load_notes(null);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'sticky_note:delete_note' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }



        function load_notes(element) {

            if (element == null){
                var project_id = $('#project-detail-modal').attr('project_id');
            }else{
                var project_id = $(element).attr('project_id');
            }

            var data = {
                'project_id': project_id,
            }

            const success_callback = function(response){
                console.log('note-loaded');
                $("#sticky-note-modal").html(response);
                $("#sticky-note-modal").attr('project_id', project_id);

                var quill = new Quill('#new-note-content', {
                    modules: {
                        toolbar: [
                            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                            ['bold', 'italic', 'underline'],
                            [{ 'color': ['#fff', 'red', 'green']}],
                            ['code', 'blockquote', 'code-block']
                        ]
                  },
                    placeholder: 'Compose an epic...',
                    theme: 'snow'  // or 'bubble'
                });

            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'sticky_note:view_notes' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        {% comment %} STATUS {% endcomment %}

        function load_status(status_id) {
            
            var data = {
                'status_id': status_id,
            }

            const success_callback = function(response){
                console.log('success');
                $("#status-detail-modal").html(response);
                $("#status-detail-modal").attr('status_id', status_id);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'status:status_detail' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        {% comment %} TIMELINE {% endcomment %}
        
        function load_timeline(project_id) {

            if (project_id == null){
                var project_id = $('#project-detail-modal').attr('project_id');
            }

            if (project_id == null | project_id == ''){
                project_id = 'all'
            }

            console.log(`Loading timeline for project ${project_id}`);

            var data = {
                'project_id': project_id,
            }

            const success_callback = function(response){
                console.log('success');
                $("#timeline-container").html(response);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:timeline' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function update_todo(element){
            var todo_id = $(element).attr('todo_id');

            var is_done = $(element).is(':checked');


            console.log(`TODO_ID: ${todo_id} is set to ${is_done}`)

            var data = {
                'todo_id': todo_id,
                'is_done': is_done,
            }

            const success_callback = function(response){
                console.log('success');
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'todo:update_todo' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        function load_active_tasks(){

            data = {}

            const success_callback = function(response){
                $("#active-task-container").html(response);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'time_tracker:load_active_tasks' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }

        function load_todo(project_id){
    
            var data = {
                'project_id': project_id,
            }
            
            const success_callback = function(response){
                console.log('success');
                $("#todo-detail-modal").html(response);
                
                
                var titlesDisplay = new Bloodhound({
                    datumTokenizer: function (d) {return Bloodhound.tokenizers.obj.whitespace(d.name); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: "{% url 'time_tracker:list_tasks' %}",
                        replace: function(url, query) {
                            return url + "?query=" + query + "&project_id=" + project_id;
                        }
                    }
                });

                
                $('#todo-task-input .typeahead').typeahead({
                    highlight: true,
                    minLength: 0,
                    hint: true,
                },{
                    displayKey: 'name',
                    source: titlesDisplay.ttAdapter(),
                    limit: 20
                });

                $('.typeahead').on('typeahead:selected', function(e, datum) {
                    $('#task-name-input').typeahead('val', datum.name); //Use the typeahead api to override default behaviour of setting the typeaheads value to the datums value ie from "21" to "Twenty one"
                    $('#hidden-task-id').val(datum.value); //set the hidden inputs value to the datum value eg. "21"
                    console.log($('#hidden-task-id').val());
                });
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'todo:todo_detail' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function create_todo(){
            todo_name = $('#new-todo-name').val().trim(); 
            priority_value = $('#todo-priority-value').val();
            todo_task_id = $('#hidden-task-id').val();

            is_todo_repeatable = $('#is-new-todo-repeatable').is(':checked');

            todo_repeat_interval = $('#new-todo-repeat-interval').val();

            todo_repeat_type = $('#new-todo-repeat-type').val();

            start_date = new Date();
            start_date_timestamp = Math.floor(Date.now() / 1000);
            
            // Iterate through the div with the id new-todo-repeat-weekly and 
            // Get all the checkbox values into an array
            var todo_repeat_pattern = [];
            $('#new-todo-repeat-weekly input:checked').each(function() {
                todo_repeat_pattern.push($(this).attr('value'));
            });

            var project_id = $('#project-detail-modal').attr('project_id');

            if(project_id == ''){
                project_id = null;
            }

            if(todo_task_id == ''){
                todo_task_id = null;
            }

            data = {"todo_name": todo_name, 
                    "priority": priority_value, 
                    "task_id": todo_task_id,
                    "project_id": project_id,
                    "is_todo_repeatable": is_todo_repeatable,
                    "todo_repeat_interval": todo_repeat_interval,
                    "todo_repeat_type": todo_repeat_type,
                    "todo_repeat_pattern": todo_repeat_pattern,
                    "start_date_timestamp": start_date_timestamp,
                }
            
            console.log(todo_repeat_pattern)
            

            const success_callback = function(response){
                console.log('todo_created');

                load_todo(project_id);
                {% comment %} # TODO  created {% endcomment %}
            }

            const error_callback = function(response){
                console.log(response);
            }

            console.log("creating todo");

            ajax_post_request("{% url 'todo:create_todo' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);

        }

        function delete_todo(element){
            var todo_id = $(element).attr('todo_id');
            var project_id = $('#project-detail-modal').attr('project_id');


            if(project_id == ''){
                project_id = null;
            }


            var data = {
                'todo_id': todo_id,
            }


            const success_callback = function(response){
                console.log('success');
                load_todo(project_id);
            }

            const error_callback = function(response){
                console.log(response);
            }

            ajax_post_request("{% url 'todo:delete_todo' %}", 
                            "{{ csrf_token }}", data, success_callback, error_callback);
        }


        function connect_project_long_press(element){

            $(element).longpress(function(){
                delete_button.css('display', 'block');
            }, function(){
                delete_button.css('display', 'none');
            });
        }



        $(document).ready(function() {
            {% comment %} TODO: maybe this belong to task-detail-modal {% endcomment %}
            $("#project-detail-modal").on('click', ".delete-timer-button", function () {
                delete_timer(this);
            });
            
            $("#project-detail-modal").on('click', ".edit-timer-button", function () {
                edit_timer(this);
            });

            $("#project-detail-modal").on('click', ".send-edit-timer-button", function () {
                send_edit_timer(this);
            });

            $("#project-detail-modal").on('click', ".delete-task-button", function () {
                delete_task(this);
            });


            $("#todo-detail-modal").on('click', ".todo-checkbox", function () {
                update_todo(this)
            });

            $("#todo-detail-modal").on('click', ".todo-delete", function () {
                delete_todo(this)
            });

            $("#todo-detail-modal").on('click', "#create-todo", function () {
                create_todo();
            });


            $("#project-detail-modal").on('change', "#project-status", function () {
                var project_id = $('#project-detail-modal').attr('project_id');
                var project_status_id = $(this).val();
                set_project_status(project_id, project_status_id);
            });

            $("#project-detail-modal").on('change', ".task-status", function () {
                var task_id = $(this).attr('task_id');
                var task_status_id = $(this).val();
                set_task_status(task_id, task_status_id);
            });


            $("#active-task-container").on('click', ".stop-task-button", function () {
                stop_task(this);
            });


            $("#active-task-container").on('click', ".task-timer-note-button", function () {
                show_task_timer_note(this);
            });


            $("#active-task-container").on('click', ".edit-start-time-button", function () {
                edit_start_time(this);
            });

            $("#active-task-container").on('click', ".send-edit-start-time-button", function () {
                send_edit_start_time(this);
            });

            $("#create-project-button").on('click', function () {
                console.log("Sending request to create project");
                create_project();
            });

            $("#project-name").on('keyup', function () {
                filter_project();
            });

            {% comment %} TODO move this inside index.js {% endcomment %}
            function show_project_list() {
                {% comment %} modify the style of project-selection-container to be empty {% endcomment %}
                $(".project-selection").css('display', 'flex');
                $("#clear-project-search").css('display', 'block');
            }

            $("#project-name").on("focus", function () {
                show_project_list();
            });

            function hide_project_list(){
                $("#project-name").val("");
                $(".project-selection").css('display', 'none');
                $("#clear-project-search").css('display', 'none');
                {% comment %} Reset the filter {% endcomment %}
                filter_project();
            }

            $("#clear-project-search").on('click', function () {
                hide_project_list();
            });


            $(".delete-project-button").on('click', function () {
                console.log("Sending request to delete project");
                delete_project(this);
            });
            

            $(document).on('click', '.open-project-button', function () {
                open_project(this);
                load_notes(this);
                hide_project_list();
            });

            {% comment %} PLEASE TEST THIS {% endcomment %}
            $('.open-project-button').on('mousedown', function () {

                const delete_button = $(this).siblings('.delete-project-button');
                const timeout_id = setTimeout(function(){
                    delete_button.show()
                }, 300);

                $(this).data("timeout_id", timeout_id)

            });

            $(document).on('click', ".view-task-button", function () {
                var task_id = $(this).attr('task_id');
                open_task(task_id);
            });


            $('.open-project-button').on('mouseup', function () {
                const timeout_id = $(this).data("timeout_id")
                if (timeout_id != null){
                    clearTimeout(timeout_id);
                    const delete_button = $(this).siblings('.delete-project-button');
                    delete_button.hide();
                    $(this).removeData("timeout_id");
                }
            });


            $("#project-detail-modal").on('click', "#create-task-button", function () {
                create_task();
            });


            $("#project-detail-modal").on('keypress', '#task-name',function (e) {
                if (e.which == 13) {
                    create_task();
                }
            });


            $("#project-detail-modal").on('click', '.start-task-button', function () {
                start_task(this);
            });
            

            $('#show-hide-status-editor').on('click', function () {
                current_display = $('#status-detail-modal').css('display')

                if (current_display == 'none'){
                    $('#status-detail-modal').css('display', 'block')
                }else{
                    $('#status-detail-modal').css('display', 'none')
                }
            });

            $("#sticky-note-modal").on('click', '#new-note-submit', function () {
                create_note();
            });
            
            $("#sticky-note-modal").on('click', '.delete-note', function () {
                delete_note(this);
            });


            $('#blur-background').on('click', function (event) {
                {% comment %} length here is like len of the array returned by cloest function {% endcomment %}
                if( !$(event.target).closest('.focused-element-container').length ){
                    $('#blur-background').css('display', 'none');
                    console.log("Closed blur-background");
                }
            });


            load_active_tasks();

            load_timeline('all');

            load_status('all')

            open_project('all');

            load_todo(null);

            load_notes(null);


            console.log("ready");

            setInterval(timer, 1000);
        })
    </script>
{% endblock %}

{% block extra-css %}
    <style>
        {% comment %}
        By defalt flex display have flex-direction to be  row (left -> right)

        flex-direction note:
            - horizontal row | left -> right
            - vertical column | top -> bottom
        {% endcomment %}

        .main-menu{
            display: flex;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
            background: #3e4057;
            color: #fff;
            flex-wrap: wrap; 
            border-radius: 10px;
            width: auto;
        }

        .user-selection{
            border: 1px solid #410746;
            style: #fff;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }

        .open-project-button{
            width: 100px;
            height: 50px;
            background: #6393e0;
            color: #77DD77;
            overflow: hidden;
        }


        .open-project-button:hover{
            width: auto;
            height: auto;
            min-width: 100px;
            min-height: 50px;
            background: #693d70;
            color: #fff;
            overflow: visible;
        }

        #clear-project-search{
            display: none;
            border-radius: 50%;
        }

        .activated_project{
            background: #77DD77;
            color: #1a1a1a;
        }

        .task-container {
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            border: 1px solid black;
            justify-content: center;
        }

        .task-item{
            margin:10px; 
            text-align:center;
            border: 1px solid green;
            min-width: 300px;
        }

        .task-timer-item{
            margin:10px; 
            text-align:center;
            border: 1px solid rgb(230,169,26);
            min-width: 300px;
        }

        .big-container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .status-container{
            width: 100%;
        }
        {% comment %} CSS PROJECT HERE {% endcomment %}
        .project-menu-container{
            padding: 10px;
            display: flex;
            background: #3e4057;
            border: 1px solid #410746;
            margin: 10px;
            border-radius: 10px;
        }

        .project-selection{
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            max-width:100%;
            overflow: auto;
        }

        .project-container{
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;
            background: #3e4057;
            color: #fff;
        }

        .project-container:hover{
            background: #77DD77;
            color: #1a1a1a;
        }

        .delete-project-button{
            display: none;
        }   

        #project-detail-modal{
            padding: 10px;
        }

        #sticky-note-modal{
            padding: 10px;
            display: flex;
            flex-direction: column;
            width:50%;
        }

        #todo-detail-modal{
            padding: 10px;
            display: flex;
            flex-direction: column;
            width:50%;
        }

        @media (max-width: 600px) {
            #todo-detail-modal, #sticky-note-modal {
                width: 100%;
            }
        }

        
        .note-card{
            background: #3e4057;
            border: 1px solid #410746;
            border-radius: 10px;
            padding: 10px;
        }

        #active-task-container{
            position: fixed;
            bottom:0;
            left: 0;
            width: 100%;
            color: #fff;
            background: #313390;
            z-index: 10;
            display: flex; 
            justify-content: center;
            flex-direction: column;
        }

        .active-task{
            display:flex;
            align-items:center;
            flex-wrap:wrap;
            justify-content:space-between;
            border: 1px solid #000;
            border-radius: 10px;
            {% comment %} margin: 20px; {% endcomment %}
            padding: 10px;
        }

        .active-task-path{
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-items: center;
            gap: 10px;
        }

        .active-task-time-display{
            display: flex;
            flex-direction: column;
        }

        .start-time{
            display: flex;
            align-items:center;
            gap: 10px;
        }

        .active-start-time-edit{
            width: 150px;
        }

        .time-elapsed{
            display: flex;
            align-items:center;
            gap: 10px;
        }

        .active-task-time-display button{
            border-radius: 10%;
            background: #69F0AE;
            color: #212121;
            border: 0px;
            height: 30px;
        }


        #task-detail-modal{
            overflow:scroll;
            max-height:500px;  
            border:solid 2px #ded70d;
            display:none;
            padding:10px;
            margin:10px;
        }


        .card{
            background: #3e4057;
            color: #fff;
        }


        input.todo-checkbox[type=checkbox] {
            width: 15px;
            height: 15px;
        }
        
        {% comment %} https://developer.mozilla.org/en-US/docs/Web/CSS/:checked {% endcomment %}
        input.todo-checkbox[type=checkbox]:checked + label {  
            {% comment %} box-shadow: 0 0 0 3px green; {% endcomment %}
            color: #d1d5ed;
            text-decoration: line-through;
        }

        .typeahead,
        .tt-query,
        .tt-hint {
          width: 100%;
          height: 30px;
          padding: 8px 12px;
          font-size: 24px;
          line-height: 30px;
          border: 2px solid #ccc;
          -webkit-border-radius: 8px;
             -moz-border-radius: 8px;
                  border-radius: 8px;
          outline: none;
        }

        .typeahead {
          background-color: #fff;
        }

        .typeahead:focus {
          border: 2px solid #0097cf;
        }

        .tt-query {
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
             -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
          color: #999
        }

        .tt-menu {
          width: 422px;
          margin: 12px 0;
          padding: 8px 0;
          background-color: #fff;
          border: 1px solid #ccc;
          border: 1px solid rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 8px;
             -moz-border-radius: 8px;
                  border-radius: 8px;
          -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
             -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                  box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
          padding: 3px 20px;
          font-size: 18px;
          line-height: 24px;
          color: #111;
        }

        .tt-suggestion:hover {
          cursor: pointer;
          color: #fff;
          background-color: #0097cf;
        }

        .tt-suggestion.tt-cursor {
          color: #fff;
          background-color: #0097cf;
        
        }

        .tt-suggestion p {
          margin: 0;
        }

        #timeline-container{
            padding: 10px;
        }
        
        
        #blur-background{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(50, 50, 50, 0.6);
            z-index: 100;
            display: none;
            justify-content: center;
            align-items: center;
        }


        .focused-element-container{
            padding:10px 10px 10px 10px;
            display: flex;
            z-index: 105;
        }

        .focused-element{
            padding: 10px 10px 10px 10px;
            background: #000;
        }
    </style>
{% endblock %}

{% block content %}
    {% comment %} aria-hidden -> the content is hidden from assistive technologies. {% endcomment %}
    <div id='blur-background' style='aria-hidden':"true";>
        <div class='focused-element-container' tabindex='0'>
            <div class='focused-element'>
                FOCUS ON THIS
            </div>
        </div>
    </div>

    <div class="main-menu">
        <div class="user-selection">
            {% comment %} 
                If the user is authenticated
                    -> allow to access the content of time_tracker

                else
                    -> redirect the user to the login page
            {% endcomment %}
            {% if user.is_authenticated %}
                <div class="current_user" user_id = {{ user.id }}>
                    Howdy, {{ user.username }}!
                </div>
                <div id="logout-button" style="color: #f00">
                    <a href="{% url 'user:logout' %}">Logout</a>
                </div>
            {% else %}
                <script>
                  window.location.href = "{% url 'user:login' %}"
                </script>
            {% endif %}
        </div>

        <div class='project-menu-container'>
            {% comment %} TEXT INPUT {% endcomment %}
            <div style="display:flex;">
                <div style='padding:5px'>
                    <input type="text" id="project-name" placeholder="start something">
                </div>
                <div>
                    <button class="btn btn-danger" id="clear-project-search">X</button>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" id="create-project-button" style='padding:5px;display:none;'>New</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Project list {% endcomment %}
    <div class="project-selection" >
        <div class='project-container' project-name='all'>
            <button class="open-project-button" project_id = ''>
                <strong class="mb-1">All</strong>
            </button>
        </div>
        {% for project in project_list %}
            <div class='project-container' project-name='{{project.name}}'>
                <button class="open-project-button" project_id = {{project.id}} >
                    <strong class="mb-1">{{project.name}}</strong>
                </button>
                <button type="submit" class="btn btn-danger delete-project-button" project_id={{project.id}}>X</button>
            </div>
        {% endfor %}
    </div>

    <div>
        <div id='timeline-container' timeline_interval_id = ''>
        </div>


        <div id='active-task-container'>
        </div>
    </div>

    <div id="project-detail-modal" project_id=''>
    </div>

    <div class='big-container'> 
        <div id='todo-detail-modal'>
        </div>
        <div id="sticky-note-modal" project_id=''>
        </div>
    </div>
    <div id='status-container'>
        <button type="submit" class="btn btn-primary" id="show-hide-status-editor" style='padding:5px;'>Show/Hide Status Editor</button>
        <div id='status-detail-modal' style="display:none">
        </div>
    </div>
{% endblock %}