<!-- time_tracker/templates/time_tracker/project_detail.html -->

<style>
    .task-action-container{
        style="display:flex;
        flex-direction:row;
        justify-content:center"
    }

    .task-action-container button{
        margin:5px;
    }

    .card-header{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

</style>



<div style="display:flex;flex-direction:column">
    {% if has_project %}
        <div class='card'>
            <div class="card-header" >
                Project Name : {{project.name}}
            </div>
            <div class="card-body" style="display:flex;flex-direction:column;justify-content:center">

                <div style="margin:10px;flex-grow:3;">
                    <label>Project Status</label>
                    <select name='project-status' id='project-status' style='min-width:50px;'>
                        {% comment %} TODO: Might be able to optimize this part with some js or clever html trick {% endcomment %}
                        {% if not project.status %} 
                            <option value={{project_status.id}} selected='selected'></option>
                        {% else %}
                            <option value={{project_status.id}}></option>
                        {% endif %}
                        {% for project_status in project_statuses %}
                            {% if project.status and project.status.id == project_status.id %}
                                <option value={{project_status.id}} selected='selected'>{{project_status.name}}</option>
                            {% else %}
                                <option value={{project_status.id}}>{{project_status.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div style="margin:10px;flex-grow:3;">
                    <input type="text" id="task-name" placeholder="start something" style="width:100%">
                </div>
                <div style="margin:10px;">
                    <button type="submit" class="btn btn-primary" id="create-task-button" >Create</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='task-container'>
        {% comment %} Iterate through the list of tasks {% endcomment %}
        {% if task_list %}
            {% for task in task_list%}
                    <div class='card task-item'>
                        <div class="card-header" style="display:flex;direction:column;">
                            {% if show_project_name_on_task %}
                                <div class="task-project-name">
                                    <button class="open-project-button" project_id={{task.project.id}}>{{ task.project.name }}</button> 
                                </div>
                            {% endif %}

                            <div class="task-name">
                                <button class="view-task-button" task_id={{task.id}}>{{ task.name }}</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                Status : 
                                <select class='task-status' task_id={{task.id}}>
                                    {% if not task.status %}
                                        <option value={{task_status.id}} selected='selected'></option>
                                    {% else %}
                                        <option value={{task_status.id}}></option>
                                    {% endif %}

                                    {% for task_status in task_statuses %}
                                        {% if task.status and task.status.id == task_status.id%}
                                            <option value={{task_status.id}} selected='selected'>{{task_status.name}}</option>
                                        {% else %}
                                            <option value={{task_status.id}} >{{task_status.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                Total Time : {{task.total_time_str}}
                            </div>
                            <div class="task-action-container" >
                                <button type="submit" task_id="{{task.id}}" class="start-task-button">Start</button>
                                <button type="submit" task_id="{{task.id}}" class="delete-task-button btn-danger">delete</button>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id='task-detail-modal' task_id=''>
    </div>



</div>