<style>
    .scrollable{
        overflow-x: hidden;
        width: 100%;
    }

    .timeline{
        display:flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        background-color: #f2f3f3;
    }

    .spacer{
        height: 6px;
        background-color: rgba(0, 127, 255, 0.5);
    }

    .event{
        width: 26px;
        height: 26px;
        background-color: #007fff;
        border-radius: 100%;
        color: white;
        text-align: center;
    }

</style>
<div class="scrollable">
    <div class="timeline zoomable">
        <div class="spacer" style="width:26px;"></div>

        {% for i in daily_hours %}
            <div class="spacer" style="flex-grow: 1;"></div>
            <div class="event"> {{i}} </div>
        {% endfor %}
        
        <div class="spacer" style="flex-grow: 1;"></div>
        <div class="spacer" style="width:26px;"></div>

    </div>
    
    <div class="timeline zoomable">
            <div class="spacer" style="flex-grow: 5;"></div>
            <div class="event"> {{i}} </div>
    </div>

</div>