<!-- time_tracker/templates/time_tracker/todo_detail.html -->

<style>
    .todos-container{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        border: 1px solid black;
        justify-content: center;
        flex-direction: column;
    }

    .todo-item{
        background: #3e4057;
        color: #fff;
        padding:10px;
        margin:10px;
        border-radius: 5px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }


    .todo-parent{
        color: #ff8aff;
    }

    .todo-priority{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 10px;
    }

    #priority-container{
        display: flex;
        align-item: center;
        gap: 10px;
    }

</style>

<script type="text/javascript"> 
    function interpolate(start, end, steps, count) {
        var delta = (end - start) / steps;
        var final = start + delta * count;
        return Math.floor(final);
    }
    // rgb(115,140,136) 
    start_color = {
        r: 115,
        g: 140,
        b: 136
    }

    // rgb(250,0,0)
    end_color = {
        r: 250,
        g: 0,
        b: 0
    }

    function getColor(value){
        var r = interpolate(start_color.r, end_color.r, 100, value);
        var g = interpolate(start_color.g, end_color.g, 100, value);
        var b = interpolate(start_color.b, end_color.b, 100, value);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

    $(document).ready(function (){
        $('.todo-priority').each(function(){
            var value = $(this).attr('value');
            $(this).css('background-color', getColor(value));
        })

        $('#todo-priority-value').change(function(){
            var value = $(this).val();
            var todo_priority = $('#priority-container').find('.todo-priority');
            todo_priority.css('background-color', getColor(value));
            todo_priority.attr('value', value);
            todo_priority.text(value);
        });
    });
</script>

<div class='card'>
    <div clas='card-header'>
        New Todo
    </div>
    <div class='card-body'>
        <div>
            <input type="text" id="new_todo_name" placeholder='Tudo: '>
        </div>
        <div>
            <div id="priority-container">
                <div>
                    <input id="todo-priority-value" type="range" min="0" max="100" value="50" class="slider">
                </div>
                <div>
                    <label class='todo-priority' value="50">
                    50 
                    </label>
                </div>
            </div>   

            <div id="the-basics">
                <input class="typeahead" id='task_name_input' type="text" placeholder="Task Name">
                <input id='hidden_task_id' type="hidden" value=''>
            </div>

        </div>

        <div>
            <button id="create-todo">Create Todo</button>
        </div>
    </div>
</div>

<div class="todos-container">
    {% if todos %}
        {% for todo in todos %}
            <div class='todo-item'>
                <div>
                    <input type="checkbox" class="todo-checkbox" id="checkbox-{{ todo.id }}" value="is_done" todo_id={{ todo.id }} {% if todo.is_done %} checked {% endif %}>
                    <label for="checkbox-{{ todo.id }}"> {{ todo.name }} </label> 
                </div>
                {% if todo.task %}
                    <div>
                        <label class="todo-parent">
                            {{ todo.task.name }} | {{ todo.project.name }}
                        </label>
                    </div>
                {% endif %}
                <div>
                    <label class='todo-priority' value={{ todo.priority }}>
                    {{ todo.priority  }} 
                    </label>
                </div>
                <div>
                    <button class="todo-delete btn-danger" todo_id={{ todo.id }}>x</button>
                </div>

            </div>
        {% endfor %}
    {% endif %}
</div>