{% if has_project %}
    <div class='card'>
        <div clas='card-header'>
            <input type="text" id="new_note_name" placeholder='note name'>
        </div>
        <div class='card-body'>
            <div id="new_note_content" style='height:300px'>
            </div>

            <div>
                <button id="new_note_submit">Submit</button>
            </div>
        </div>
    </div>
{% endif %}

{% if notes %}
    {% for note in notes %}
        <div class='card'>
            <div clas='card-header'>
                <input type="text" class="note_name" note_id={{note.id}} placeholder={{note.name}}>
            </div>
            <div class='card-body'>
                <div>
                    {{note.note | safe}}
                </div>

                <div>
                    <button class="delete_note" note_id={{note.id}}>Delete</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}