<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Blue Heeler{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% comment %} 
      If user is logged in -> re-direct to the time_tracker page 
    {% endcomment %}
    <script>
      window.location.href = "{% url 'time_tracker:index' %}"
    </script >
  {% else %}
    {% comment %} 
      If user is NOT logged in -> re-direct to log in page
    {% endcomment %}
    <script>
      window.location.href = "{% url 'user:login' %}"
    </script>
  {% endif %}
{% endblock %}